<section id="contact">
  <div class="container">
    <h2>Contact Ginnel Studio</h2>
    <p>Something something contact us</p>
  </div>
</section>

<footer>
  <div class="container">
    <div class="footer-inner">
      <h3>{{ site.name }}</h3>
      <p>{{ site.description }}</p>
      <ul>
        <li><a href="/">Home</a></li>
        {% for page in site.pages %}
          {% if page.permalink %}
            <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <p class="small">A note on the images: <a href="https://unsplash.com/@birminghammuseumstrust?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Birmingham Museums Trust</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      <p class="small">Photo by <a href="https://unsplash.com/@britishlibrary?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">British Library</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
      <p class="small">Photo by <a href="https://unsplash.com/@bostonpubliclibrary?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Boston Public Library</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
      <p class="small">Photo by <a href="https://unsplash.com/photos/SMWPYQhVRuY">Europeana</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
      <p>Photo by <a href="https://unsplash.com/@fakurian?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Milad Fakurian</a> on <a href="https://unsplash.com/s/photos/abstract-background?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
    </div>
  </div>
</footer>
