<header class="site-header">
  <div class="container navbar-inner">
    <div class="brand">
      <h2><a href="/">Ginnel Studio</a></h2>
    </div>
    <nav>
      <ol>
        <li><span class="key keynav">S</span><a href="/about">The Studio</a></li>
        <li><span class="key keynav">W</span><a href="/work">The Work</a></li>
        <li><span class="key keynav">P</span><a href="/process">The Process</a></li>
        <li><span class="key keynav">G</span><a href="#contact">Get in touch</a></li>
      </ol>
    </nav>
  </div>
</header>
