// =======================================
//  Footer
// =======================================

#contact {
  background-color: #fde8d0;
}

footer {
  width: 100%;
  background: #f8f8f8;
  border-top: $border;
  text-align: center;
  @include for-tablet-portrait-up {
    text-align: left;
  };
  .footer-inner {
    margin: 0 auto;
    padding: 2rem 0;
    max-width: $column-width;
  }
}
