// Stuff here

.homepage-section {
  min-height: 100vh;
  background: #fff;

  h1, h2, p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.hero {
  background: linear-gradient(to bottom, $alt-light, $alt-color);
  min-height: 90vh;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.hero-inner {

  h1, p {
    color: #000;
  }

  h1 {
    @include for-tablet-portrait-up {
      font-size: 64px;
    };
  }

  p {
    max-width: 36em;
  }
}

.prompt-wrapper {
  margin-top: 2.5rem;

  p {
    max-width: 100%;
  }
}

.desktop-prompt {
  display: none;
  @include for-tablet-landscape-up {
    display: block;
  }
}

.touchsceen-prompt {
  @include for-tablet-landscape-up {
    display: none;
  }
}

.hero-prompt {
  margin-top: 6rem;
}

.studioIntro {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.pages {
  gap: 2rem;
}

.page {
  flex: 1 1 $column-width / 3 - 64px;
  min-height: 60vh;
  border-radius: 3px;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;

  &:nth-child(1) {
    background: linear-gradient(to bottom, rgba(255,255,255,0), #f8bebe), url(/assets/img/studio1.jpeg);
  }

  &:nth-child(2) {
    background: linear-gradient(to bottom, rgba(255,255,255,0), $alt-lightest), url(/assets/img/work2.jpeg);
    background-size: cover;
  }

  &:nth-child(3) {
    background: linear-gradient(to bottom, rgba(255,255,255,0), $brand-lightest), url(/assets/img/process2.jpeg);
    background-size: cover;
  }

  h3 {
    font-family: $headings-font-family;
    color: #fff;
    font-size: 3.8rem;
    margin-top: 0;
  }
}
