// =======================================
//  Post SASS
// =======================================

.post-hero {
  padding-top: 0;
  padding-bottom: 4rem;
}

.post-lead {
  @extend .lead;
  margin: 4rem auto;
  text-align: center;
  overflow: hidden;
}

.post-hero-img {
  position: relative;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f3f2e6;

  img {
    margin: 0 auto;
    width: 75%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
  }
}

.feature-section {
  .portfolio-feature {
    align-items: flex-start;
  }
}

.post-detail-images {
  flex: 1 1 300px;
  margin-left: 3rem;
  img {
    margin-bottom: 2rem;
  }
}

article {
  padding-bottom: 4rem;
  border-bottom: $border;
  margin-bottom: 2rem;
}
